.App {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--Background);
  overflow: hidden;
}

.App .inputBar {
  width: 100%;
}

@media (min-width: 1400px) {
  .App .inputBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
